.cart_item_number{
	cursor: pointer;
	width: 26px;
	height: 26px;
	display: flex;
    align-items: center;
    justify-content: center;
	background: #FF4E36;
	color: #fff;
	border-radius: 24px;
	position: absolute;
    left: 6px;
    top: 16px;
    font-size: 14px;
}
.cart{
	cursor: default;
	position: absolute;
	right: 0px;
	top: 60px;
	border: 1px solid lightgray;
	width: 520px;
	.cart_list_unavailable{
		.cart_list_unavailable_header{
			background: #FF4D31;
			color: #fff;
			padding: 7px;
			padding-left: 14px;
			.cart_list_unavailable_s{
				display: block;
				display: inline-flex;
			    align-items: center;
			    justify-content: center;
				width:20px;
				height:20px;
				border-radius: 20px;
				background: #fff;
				color: #FF4D31;
			}
		}
		.cart_list_unavailable_list{
			border: 1px solid #FF4D31;
			.cart_list_unavailable_item{
			    padding: 10px;
    color: #000;
    font-weight: 400;	
			}
		}
	}
	.cart_list{
		height: $cart_list_height;
		overflow: hidden;
		overflow-y: scroll;

		&::-webkit-scrollbar {
		    width: 14px;
		    height: 18px;
		}
		&::-webkit-scrollbar-thumb {
		    height: 6px;
		    border: 4px solid rgba(0, 0, 0, 0);
		    background-clip: padding-box;
		    -webkit-border-radius: 7px;
		    background-color: rgba(0, 0, 0, 0.15);
		    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
		}
		&::-webkit-scrollbar-button {
		    width: 0;
		    height: 0;
		    display: none;
		}
		&::-webkit-scrollbar-corner {
		    background-color: transparent;
		}
		ul{
			padding: 0;
			li{
				display: block;
				list-style: none;
				position: relative;
				overflow: hidden;
				.cart_list_item_del{
					position: absolute;
					top: 24px;
					right: 14px;
					cursor: pointer;
					img{
						width: 30px;
					}
				}
				.cart_list_item_hr{
					position: absolute;
					bottom: 0;
					width: 100%;
					hr{
						border: 0;
						border-bottom: 1px solid #E0E0E0;
						width: 90%;
					}
				}
				.cart_list_img{
					float:left;
					padding: 30px;
					 width: 110px;
					img{
						width: 120px;
					} 
				}
				.cart_list_info{
					width: 328px;
					float: left;
					color: #000; 
					font-weight: 400;
					div{
						color: #000;
						margin-bottom: 20px;
					}
					.cart_list_info_name{
						margin-top: 24px;
						font-size: 20px;
						margin-bottom: 4px;
						width: 290px;
						font-weight: 600;
					}
					.cart_list_info_id{
						margin-bottom: 24px;
						font-size: 14px;
					}
					.cart_list_info_price{
						margin-bottom: 7px;
					}
					.cart_list_info_adv{
						font-size: 12px;
						font-weight: 400;
						font-style: italic;
						margin-bottom: 24px;
						&.red{
							color: #FF4D31;
							font-style: italic;
							margin: 52px 0;
						}
						.cart_list_info_old_price{
							text-decoration: line-through;
						}
					}
					input{
						padding: 14px;
						width: 34px;
						font-weight: 400;
					}
					.unavail_total{
						width: 200px;
					    float: left;
					    margin-bottom: 50px;
					    position: relative;
					    top: 17px;	
					    font-weight: 400;
					 
					}
					.cart_list_info_result{
						span.result{
							display: block;
							float: right;
							padding: 14px 14px 32px;
							font-size: 18px;
							font-weight: 400;
						}

					}
				}
			}			
		}

	}
	.card_info{
		background: #F1F1F1;
		color: #2A2A2A;
		height: 136px;
		padding: 24px;
		padding-right: 8px;
		.card_info_count{
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 24px;
		}
		.card_info_price{
			font-size: 24px;
			margin-bottom: 24px;
			span:nth-child(2){
				display: block;
				float: right;
			}
		}
	}
	.card_info_no_item{
		background: #fff;
		color: #2A2A2A;
		height: 136px;
		padding: 24px;
		padding-right: 8px;
		.card_info_no_item_hr{
			background: none;
			border: 0;
			border-bottom: 1px solid #E0E0E0;
			margin-left: 0px;
    		width: 95%;
		}
		.card_info_count{
			font-size: 12px;
			font-weight: 400;
			margin-bottom: 7px;
		}
		.card_info_price{
			font-size: 24px;
			margin-bottom: 24px;
			padding-right: 24px;
			span:nth-child(2){
				display: block;
				float: right;
			}
		}
		.card_info_no_item_continue{
			color:$sky;
			cursor: pointer;
			margin-bottom: 24px;
		}

	}

}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

.cart {
    width: 99.8vw;
    position: fixed;
    top: 0;
    left:0;
    .cart_list {
    height: 62vh;
    ul li .cart_list_img{
    	padding: 0;
    	margin: auto;
    	float: none;
    }
    }
	.card_info{
		position: fixed;
	    bottom: 0;
	    height: 20vh;
    	padding: 1vh;
	}
	.cart_list_unavailable{
		background: #fff;
	}

}
.cart .cart_list ul li .cart_list_info .cart_list_info_name{

}
.cart .cart_list ul li .cart_list_info{
	width: 92vw;
    padding: 0 10px;
}
.cart .cart_list ul li .cart_list_info .cart_list_info_price{
	    float: left;
    margin-right: 136px;
}
.cart_list_info_result{
	position: relative;
	width:93vw;
}
.cart .card_info .card_info_count{
    margin-bottom: 6px;
}
.cart .card_info .card_info_price{
	font-size: 20px;
}
.cart .card_info{
	width: 96vw;
}
.cart .card_info .btn{
	float: left;
	    width: 46vw;
	&:first-child{
		margin-right: 10px;
	}

}



}